@import '../../_variables.scss';

.Main__container {
  max-width: 1320px;
}

.Main__hello_container {
  display: flex;
  justify-content: center;
}

.Main__hello_image {
  max-width: 400px;
}

.Main__hello_info_container {
  padding-left: 20px;
}

.Main__hello_info_name {
  width: 420px;
  font-size: 70px;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 60px auto 0;
  text-align: center;
}

.Main__hello_info_position {
  font-size: 28px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: $primaryColor;
  margin: 40px 20px 0 20px;
  // border: 1px solid red;
}

.Main__hello_info_position_text {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  margin: 35px 20px 0 20px;
  color: $secondaryColor;
  // border: 1px solid red;
}

.Main__hello_info_icons {
  width: 24px;
  height: 24px;
  fill: rgb(194, 98, 175);
  // border: 1px solid blue;
}

.Main__hello_contacts {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  margin: 45px 20px 0 20px;
  // border: 1px solid red;
}

.Main__hello_contacts_contact {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 5px;
  & a {
    color: $primaryColor;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
}

.Main__hello_info_btn_container {
  margin: 35px 20px 0 20px;
}

.Main__hello_info_button, .Main__expertise_resume_button {
  width: 220px;
  height: 45px;
  border-radius: 8px;
  border-style: none;
  background-color: $primaryColor;
  color: $whiteColor;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.7;
  }
}

.Main__hello_empty {
  height: 600px;
  width: 400px;
  background-color: $primaryColor;
}

.Main__skills_container {
  margin-top: 40px;
  & > p {
    text-align: center;
  }
}

.Main__skills_title {
  font-family: $oswaldFontFamily;
  font-size: 60px;
}

.Main__skills_text {
  font-family: $openSansFontFamily;
  font-size: 24px;
}

.Main__skills {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.Main__works_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: $tertiaryColor;
}

.Main__works_works {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Main__works_title {
  font-family: $oswaldFontFamily;
  font-size: 65px;
  color: $whiteColor;
}

.Main__works_description {
  font-family: $openSansFontFamily;
  font-size: 18px;
  font-style: italic;
  color: $quaternaryColor;
  margin: 20px 30px 25px;
}

.Main__expertise_container {
  height: 450px;
  display: flex;
  justify-content: space-around;
  background-color: $tertiaryColor;
  color: $quaternaryColor;
  padding-top: 60px;
  font-size: 19px;
  font-family: $openSansFontFamily;
}

.Main__expertise_expertise {
  width: 400px;
  & p:first-child, p:nth-child(2) {
    color: $whiteColor;
    font-family: $oswaldFontFamily;
  }
  & p:nth-child(2) {
    font-size: 60px;
    padding: 10px 0 15px 0;
  }
  & p:nth-child(3) {
    padding-top: 15px;
  }
  & input {
    margin-top: 35px;
  }
}

.Main__expertise_skills {
  & > ul > li {
    margin-top: 7px;
  }
}

.Main__expertise_about_me_container {
  width: 400px;
  & p:first-child {
    text-align: center;
    font-family: $oswaldFontFamily;
    font-size: 25px;
    line-height: 30px;
    color: $whiteColor;
  }
  & div {
    margin-top: 7px;
    & span:first-child {
      color: $whiteColor;
    }
    & span:nth-child(2) {
      margin-left: 8px;
    }
  }
}
