@import '../../variables';

.WorkBox__container {
  position: relative;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  overflow: hidden;
}

.WorkBox__image_container {
  height: inherit;
  width: inherit;
}

.WorkBox__image {
  width: inherit;
}

.WorkBox__info_container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  opacity: 0;
  transition: opacity 0.23s;
  background-color: $tertiaryColor;
  &:hover {
    opacity: 0.9;
    border: 1px solid $whiteColor;
  }
}

.WorkBox__title {
  font-family: $oswaldFontFamily;
  font-size: 50px;
  color: $whiteColor;
}

.WorkBox__description {
  font-family: $openSansFontFamily;
  font-size: 18px;
  font-style: italic;
  color: $secondaryColor;
}
