@import '../../variables';

.Footer__container {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  & p {
    font-family: $oswaldFontFamily;
    font-size: 22px;
    color: $secondaryColor;
    line-height: 65px;
  }
}

.Footer__images_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.Footer__icons {
  color: $secondaryColor;
  transition: 0.25s;
  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .Footer__container p {
    line-height: 25px;
    padding: 10px 0 0 15px;
  }
}

@media screen and (max-width: 385px) {
  .Footer__container {
    flex-direction: column;
    & p {
      line-height: 25px;
      padding-top: 40px;
      padding-left: 15px;
    }
  }
}
