@import '../../variables';

.SkillBox__title {
  color: $primaryColor;
  font-family: $oswaldFontFamily;
  font-size: 26px;
  font-weight: 600;
}

.SkillBox__skills {
  margin-top: 10px;
}

.SkillBox__skill {
  display: flex;
  align-items: center;
}

.SkillBox__skill_svg {
  height: 24px;
  width: 24px;
  fill: $primaryColor;
}

.SkillBox__skill_title {
  font-family: $openSansFontFamily;
  font-size: 19px;
  line-height: 1.8;
  list-style-type: none;
}

@media screen and (max-width: 420px) {
  .SkillBox__title {
    font-size: 20px;
  }
  .SkillBox__skill_title {
    font-size: 14px;
  }
}
