$primaryColor: #4e5dab;
$secondaryColor: #959ec9;
$tertiaryColor: #292D33;
$quaternaryColor: #858e99;
$whiteColor: #ffffff;
$oswaldFontFamily: 'Oswald', sans-serif;
$PTFontFamily: 'PT Sans', sans-serif;
$openSansFontFamily: 'Open Sans', sans-serif;
